@{
    ViewData["Title"] = "Home Page";
}

<div style="background-image: url('D:\velocity\velocity\project\Phase-4-Project-Testing-and-Deployment-main\Phase 4 project- Testing and deployment\PizzaHub\PizzaHub\wwwroot\media\products\santorini.jpg')" class="text-center">
    
    <h2  class="display-4">JOE's PIZZA </h2>
    <img src="~/media/products/Chicken Delight.jpg" style="border: 3px solid black;" />
   </div>
